body {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
}

.forum-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: orange;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

    .box p {
        color: black;
        font-size: 16px;
    }


